<section class="main-content">
  <div class="article-list">
    <% var portfolioPosts = site.posts.filter(function(post){
      return post.categories && post.categories.data.some(function(cat){ return cat.name === '作品集'; }) && post.portfolio;
    }); %>
    <% if (portfolioPosts.length === 0) { %>
      <p>目前尚無作品，請稍後再來！</p>
    <% } %>
    <% portfolioPosts.forEach(function(post, i){ %>
      <%- partial('_partial/post', {post: post, even: i % 2 === 0}) %>
    <% }); %>
  </div>
</section>
